#guess-word {
    font-size: 70px;
}
.loser, .winner-word{
    display: none;
} 

.title {
    font-size: 100px;
    font-family: 'Impact', arial, sans-serif;
    position: absolute;  
    top: 10px;
    color: red;
}

body {
    background-image: url(/img/bg.png);
    

}
